# Data Science Tools and Ecosystem

In [ ]:
## Author
Kar Yan Choong

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
*  List popular languages for Data Science
*  List common used libraries used by Data Scientists
*  Tabulate data science tools
*  Evaluate arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
|:--------:|
|  Jupyter Notebook   |
|  RStudio   |
|  Apache Spark   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335